@use '@angular/material' as mat;
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

html {
  color-scheme: light dark;
  @include mat.theme((
    color: mat.$cyan-palette,
    typography: Roboto,
    density: 0
  ));
}

:root {
  @include mat.table-overrides((
    row-item-outline-color: color-mix(in srgb, var(--mat-sys-primary) 10%, transparent),
    header-headline-color: color-mix(in srgb, var(--mat-sys-primary) 90%, transparent),
  ));
}