.bopr-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr auto;
    grid-template-areas:
    'header'
    'content'
    'footer';
    height: calc(100vh);
}

bopr-header {
    grid-area: header;
}

.main-content {
    grid-area: content;
    padding: 4px 16px;
    overflow-y: auto; 
    height: 100%; 
}

bopr-footer {
    grid-area: footer;
}
